/* reset style rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles */
html {
    font-size: 62.5%;
    --body-font: 'Poppins', sans-serif;
    --logo-font:'Lobster', cursive;
    --header-font:'Alegreya', serif;
}

body {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: var(--logo-font);
    font-size:1.6rem;
}

h2 {
    font-family: var(--body-font);
    font-size: 2rem;
}

p {
    font-family: var(--body-font);
    font-size: 1.6rem;
}

.main-container {
    max-width: 80rem;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid gray;
}

ul {
    list-style-type: none;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-ul li {
    font-size:1.6rem;
    border:1px solid gray;
    padding: 0.5rem 1.5rem;
    border-radius:0.5rem;
    transition:all 0.3s ease-in-out;
}

.nav-ul li:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 3px 1px rgba(0,0,0);
}
.nav-ul li:nth-child(1),
.nav-ul li:nth-child(2) {
    margin-right: 1rem;
}
/* about section styles */
.about-section {
    margin: 2.5rem 0;
    display:flex;
    /* flex-wrap: wrap-reverse; */
    align-items: center;

}

.about-section h2 {
    margin-bottom: 1rem;
}
.about-section p {
    margin-bottom: 1rem;

}

